In [18]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [20]:
df_clean = pd.read_csv("test_data _cleaned.csv", encoding='cp1252')
df_dirty = pd.read_csv("test_data_dirty.csv", encoding='cp1252')
df_dirty.head()

,Rescue_ID,Date_Caught,Researcher,CaptureSite,ForagingGround,CaptureMethod,Fisher,LandingSite,Species,ReleaseSite,...,CCW_cm,Weight_Kg,Sex,TurtleCharacteristics,Status,Date_Release,Release_Admiss_Notes,SpecialRemarks,PCVNumber,Expenditure
0,2011_RE_0001,1/1/2011,researcher_4,site_38,ocean,net,fisher_360,site_118,species_1,site_80,...,92,nan,nan,Looks healthy& well fed. Small barnacles on bo...,NaN,NaN,NaN,NaN,nan,nan
1,2011_RE_0002,1/2/2011,researcher_4,site_36,creek,longline,fisher_1118,site_58,species_1,site_80,...,54,24,nan,Green algae on the carapce. A small hole of 1c...,NaN,NaN,NaN,NaN,nan,nan
2,2011_RE_0003,1/3/2011,researcher_4,site_53,creek,net,fisher_703,site_8,species_1,site_80,...,54,25,nan,A V-notch between 1st and 2nd inner scales of ...,NaN,NaN,NaN,NaN,nan,nan
3,2011_RE_0004,1/3/2011,researcher_4,site_53,creek,net,fisher_861,site_8,species_1,site_80,...,54,26,nan,Thin green algae on the carapace. Clean plastr...,NaN,NaN,NaN,NaN,nan,nan
4,2011_RE_0005,1/3/2011,researcher_4,site_53,creek,net,fisher_242,site_8,species_1,site_80,...,48,20,nan,Flaking on the shell. Additional small CS betw...,NaN,NaN,caught a day before,NaN,nan,nan

In [21]:
#pd.set_option('display.max_columns', 30)

def get_stacked(df_clean):
    df_clean_stacked = pd.DataFrame()
    count1 = 0
    x=[]
    y=[]
    for i in range(0, len(df_clean)):
        for ix in range(1,26):
            x.append(str(df_clean.iloc[count1,0])+' x '+str(df_clean.columns.values[ix]))
            y.append(df_clean.iloc[count1,ix])
        count1+=1
    df1 = pd.DataFrame({"ID": x})  
    df1.index.names = ['index']
    df2 = pd.DataFrame({"Value": y}) 
    
    df2.index.names = ['index']
    df_clean_stacked = pd.merge(df1, df2, on='index')
    return df_clean_stacked

In [22]:
df_dirtyStacked = get_stacked(df_dirty)
df_cleanStacked = get_stacked(df_clean)
df_dirtyStacked.head()

                                  ID         Value
index
0         2011_RE_0001 x Date_Caught      1/1/2011
1          2011_RE_0001 x Researcher  researcher_4
2         2011_RE_0001 x CaptureSite       site_38
3      2011_RE_0001 x ForagingGround         ocean
4       2011_RE_0001 x CaptureMethod           net

In [23]:
def get_label(df_d, df_c):
    df_clean_labeled = pd.DataFrame()
    new_labels = []
    
    for i in range(0, len(df_d)):
        if df_d.iloc[i,0] == df_c.iloc[i,0] and df_d.iloc[i,1] == df_c.iloc[i,1] or (pd.isnull(df_d.iloc[i,1]) == True and pd.isnull(df_c.iloc[i,1]) == True):
            new_labels.append(0)
        else:
            new_labels.append(1)
    
    df1 = pd.DataFrame(df_d.ID)  
    df1.index.names = ['index']
    df2 = pd.DataFrame({"error": new_labels})  
    df2.index.names = ['index']
    df3 = pd.merge(df1, df2, on='index')
    df_clean_labeled = df3.rename_axis(None)
    pd.options.display.float_format = '{:,.0f}'.format
    return df_clean_labeled

In [24]:
labeled_data = get_label(df_dirtyStacked, df_cleanStacked)
labeled_data

                                         ID  error
0                2011_RE_0001 x Date_Caught      1
1                 2011_RE_0001 x Researcher      0
2                2011_RE_0001 x CaptureSite      0
3             2011_RE_0001 x ForagingGround      0
4              2011_RE_0001 x CaptureMethod      0
5                     2011_RE_0001 x Fisher      0
6                2011_RE_0001 x LandingSite      0
7                    2011_RE_0001 x Species      0
8                2011_RE_0001 x ReleaseSite      0
9                      2011_RE_0001 x Tag_1      0
10                     2011_RE_0001 x Tag_2      0
11                     2011_RE_0001 x Tag_3      0
12                 2011_RE_0001 x Lost_Tags      0
13                  2011_RE_0001 x T_Number      0
14                    2011_RE_0001 x CCL_cm      0
15                    2011_RE_0001 x CCW_cm      0
16                 2011_RE_0001 x Weight_Kg      0
17                       2011_RE_0001 x Sex      0
18     2011_RE_0001 x TurtleCharacteristics      0
19                    2011_RE_0001 x Status      0
20              2011_RE_0001 x Date_Release      0
21      2011_RE_0001 x Release_Admiss_Notes      0
22            2011_RE_0001 x SpecialRemarks      0
23                 2011_RE_0001 x PCVNumber      0
24               2011_RE_0001 x Expenditure      0
25               2011_RE_0002 x Date_Caught      1
26                2011_RE_0002 x Researcher      0
27               2011_RE_0002 x CaptureSite      0
28            2011_RE_0002 x ForagingGround      0
29             2011_RE_0002 x CaptureMethod      0
...                                     ...    ...
34020           2011_RE_1364 x Date_Release      0
34021   2011_RE_1364 x Release_Admiss_Notes      0
34022         2011_RE_1364 x SpecialRemarks      0
34023              2011_RE_1364 x PCVNumber      0
34024            2011_RE_1364 x Expenditure      0
34025            2011_RE_1365 x Date_Caught      0
34026             2011_RE_1365 x Researcher      0
34027            2011_RE_1365 x CaptureSite      0
34028         2011_RE_1365 x ForagingGround      0
34029          2011_RE_1365 x CaptureMethod      0
34030                 2011_RE_1365 x Fisher      0
34031            2011_RE_1365 x LandingSite      0
34032                2011_RE_1365 x Species      0
34033            2011_RE_1365 x ReleaseSite      0
34034                  2011_RE_1365 x Tag_1      0
34035                  2011_RE_1365 x Tag_2      0
34036                  2011_RE_1365 x Tag_3      0
34037              2011_RE_1365 x Lost_Tags      0
34038               2011_RE_1365 x T_Number      0
34039                 2011_RE_1365 x CCL_cm      0
34040                 2011_RE_1365 x CCW_cm      0
34041              2011_RE_1365 x Weight_Kg      0
34042                    2011_RE_1365 x Sex      0
34043  2011_RE_1365 x TurtleCharacteristics      0
34044                 2011_RE_1365 x Status      0
34045           2011_RE_1365 x Date_Release      0
34046   2011_RE_1365 x Release_Admiss_Notes      0
34047         2011_RE_1365 x SpecialRemarks      0
34048              2011_RE_1365 x PCVNumber      0
34049            2011_RE_1365 x Expenditure      0

[34050 rows x 2 columns]

In [7]:
Y = labeled_data['error']
X = labeled_data['ID']
X = pd.DataFrame(X)
X.head()

                              ID
0     1998_RE_0001 x Date_Caught
1      1998_RE_0001 x Researcher
2     1998_RE_0001 x CaptureSite
3  1998_RE_0001 x ForagingGround
4   1998_RE_0001 x CaptureMethod

In [8]:
#Label encoder
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X = le.fit_transform(X)
X = pd.DataFrame(X)
X.head()

C:\Users\USER\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

    0
0   4
1  14
2   3
3   8
4   2

In [9]:
##Pandas one-hot encoding(dummies)
#ID_dummies = pd.get_dummies(labeled_data['ID'], columns=["ID"], sparse=True)
#ID_dummies.drop('error',axis='columns',inplace=True)
#X = ID_dummies
#X.index.names = ['index']
#X = X.rename_axis(None)
#Y.shape

#Scikit-learn One-hot encoding
#from sklearn.preprocessing import OneHotEncoder
#ohe = OneHotEncoder(categorical_features=[0])
#X = ohe.fit_transform(X).toarray()
#X.head()

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,train_size=0.5)

C:\Users\USER\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [11]:
#import model
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [12]:
#Start Training
model.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [13]:
scores = np.array([])

In [14]:
#Pridiction
scores = model.predict(X_test) 
scores

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [15]:
#Model accuracy
model.score(X,Y)

0.8953028890959925

In [16]:
#Save results to csv
np.savetxt('submission.csv', [p for p in zip(labeled_data['ID'], scores)], delimiter=',', fmt='%s')